/* * {
    color: #ececec;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.app {
    background-color: #212121;
    display: flex;
} */

:root {
  --bg-main: #ffffff;
  --bg-secondary: #f4f4f4;
  --text-main: #000000;
  --card-bg: #e5e5e5;
}

[data-theme="dark"] {
  --bg-main: #212121;
  --bg-secondary: #171717;
  --text-main: #ececec;
  --card-bg: #323232;
}

* {
  color: var(--text-main);
}

.app {
  background-color: var(--bg-main);
  display: flex;
}


.authWrapper {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("https://freevector-images.s3.amazonaws.com/uploads/vector/preview/166961/VecteezyChatGPT-BackgroundBS0323_generated.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobileOnly {
  display: none;
}

@media (max-width: 768px) {
  .mobileOnly {
    display: block;
  }
}

/* Mobile viewport fix */
@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }
}

