.chats {
  max-width: 700px;
  width: 100%;
  overflow-y: auto;
  padding: 6rem 1rem;
}

/* User message */
.userDiv {
  display: flex;
  justify-content: flex-end;
  font-size: 0.9rem;
}

.gptDiv {
  text-align: left;
  font-size: 0.9rem;
}

.userMessage {
  background-color: var(--card-bg);
  padding: 10px 16px;
  border-radius: 14px;
  max-width: 80%;
  width: fit-content;
}

/* Mobile */
@media (max-width: 768px) {
  .chats {
    padding: 5rem 0.8rem;
  }

  .userMessage {
    max-width: 90%;
  }
}
