.sidebar {
    /* background-color: #171717; */
    background-color: var(--bg-secondary);
    color: #b4b4b4;
    height: 100vh;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebarTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.closeBtn {
  cursor: pointer;
  font-size: 1.2rem;
}

button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.logo {
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
    object-fit: cover;
}

button span{
    font-size: 20px;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.history {
    margin: 10px;
    padding: 10px;
    height: 100%;
    flex: 1;              /* takes remaining space */
    overflow-y: auto;
}

/* Optional: hide scrollbar on desktop */
.history::-webkit-scrollbar {
    width: 6px;
}

.history::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.2);
    border-radius: 3px;
}

.history li {
    list-style-type: none;
    cursor: pointer;
    padding: 2px 5px;
    margin-bottom: 0.3rem;
    font-size: 14px;
    border: solid 10px transparent;
    position: relative;
}

.history li:hover {
    background-color: rgba(180, 180, 180, 0.05);
    border-radius: 10px;
}

.sign {
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    text-align: center;
    border-top: solid 0.25px rgba(255, 255, 255, 0.5);
}

.fa-trash {
    opacity: 0;
    position: absolute;
    right: 0;
}

.history li:hover .fa-trash {
    opacity: 1;
    color: #fff;
}

.fa-trash:hover {
    color: #f87171 !important;
}

.highlighted {
    /* background-color: rgba(180, 180, 180, 0.05); */
    background-color: #323232;
    border-radius: 10px;
}

/* Hide sidebar on mobile */
/* @media (max-width: 768px) {
  .sidebar {
    display: none;
  }
} */

/* Overlay */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  z-index: 998;
}

/* Desktop */
@media (min-width: 769px) {
  .sidebar {
    position: relative;
    transform: translateX(0);
  }
}

/* Overlay */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  z-index: 999;
}

/* Mobile behavior */
@media (max-width: 768px) {
  .sidebar {
  width: 320px;
  background-color: var(--bg-secondary);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1000;
}

  .sidebar.show {
    transform: translateX(0);
  }
}

/* Close icon (mobile only) */
.mobileClose {
  display: none;
}

@media (max-width: 768px) {
  .mobileClose {
    display: block;
    text-align: right;
    padding: 1rem;
    font-size: 1.3rem;
    cursor: pointer;
  }
}
